/* src/App.css */
.App {
  text-align: iiiiii;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App ul {
  list-style-type: none;
  padding: 0;
}

.App li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
}
